.textarea {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.textarea__input {
  resize: none;
  border-radius: var(--ecs_border_radius_sm);
  border: 1px solid var(--ecs_border_color);
  padding: 8px 12px;
  width: 280px;
  height: 120px;
}

.textarea__input:focus {
  outline-color: var(--ecs_color_magenta);
}
